button{
    border-radius: 5px;
    background-color: chartreuse;
    background-color: linear-gradient(rgb(red, green, blue),white);
    display: flex;
    color: rgb(9, 9, 31);
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    margin-bottom: 5px;
}
.quiz-box{
    background-color: aqua;
}
.question-block{
    background-color: brown;
}
body{
    background-color: black;
}
#bar{
    
}

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































